
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-left {
    animation: App-logo-spin infinite 20s linear;
  
    
  }
  .App-logo-right {
    animation: App-logo-spin infinite 20s lineasar;

  }
}


.App-header {
  background-color: rgb(40, 119, 93);
  min-height: 200vh;
  display: flex;
  flex-direction: column;
 

  font-size: calc(10px + 2vmin);
  color: white;

  h1 {

    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
    font-family: 'Playfair Display', serif;
    color: black; 
    text-align: center;
    justify-content: top;
    font-size: 80px;
  
  }
  
  
  
}

left.App-logo-left {
  justify-content: top;
  align-items: left;
  
}

right.App-logo-right {
  justify-content: top;
  align-items: right;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



