@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-left {
    animation: App-logo-spin infinite 20s linear;
  
    
  }
  .App-logo-right {
    animation: App-logo-spin infinite 20s lineasar;

  }
}


.App-header {
  background-color: rgb(40, 119, 93);
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: calc(10px + 2vmin);
  color: white;


  h1{
    flex: 1;
   
    font-family: 'Playfair Display', serif;
    color: black; 
    text-align: center;
    justify-content: top center;
    font-size: 80px;
  }
  /*

  #right {
    flex: 0;
  float: inline-start;
  height: 250px; 
  width: 250px;
  }

  #left {
    flex: 0;
  float: inline-start;
  height: 250px; 
  width: 250px;
  }
  */
}

.App-body {
  background-color: rgb(40, 119, 93);
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
 

  p1{
    flex: 2;

    font-family: 'Playfair Display', serif;
    color: black; 
    
    font-size: 40px;
  }
  label{
    flex: 3;

    font-family: 'Playfair Display', serif;
    color: black; 

    font-size: 25x;
  }
 
 input {
  flex: 2;
  background-color: beige;
  font-family: 'Playfair Display', serif;
  color: black; 
  text-align: center;
  justify-content: top center;
  font-size: 25px;
  width: 400px;
  height: 50px;
 }

 select{
  flex: 2;
  background-color: beige;
  font-family: 'Playfair Display', serif;
  color: black; 
  text-align: center;
  justify-content: top center;
  font-size: 25px;
  width: 400px;
  height: 50px;
 }

 StatusForm{

  flex: 3;

 }

 button{
  background-color: ;
  font-family: 'Playfair Display', serif;
  color: black; 
  height: 53px;
  width: 75px;
}

}






.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}